body {
  background-image: url("images/bg.png");
}

h1 {
  text-align: center;
}

.weatherData {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
}

.locationList {
  background-color: rgba(255, 255, 255, 0.75);
}

.locationItem:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.2);
}

.countrySelectDropdown {
  width: 23rem;
}

.countrySelectDropdown div {
  padding: 0.5rem;
}

.countrySelectDropdown button {
  margin: 0 0.5rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4b73c1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
